@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

    <h4 class="text-center">Your account is temporarily locked, wait for confirmation from the administrator.</h4>
    <h4 class="text-center">You can contact us via email: firstdonations@gmail.com</h4>
    <center><a href="../../Identity/Account/Login?ReturnUrl=%2F" class="text-center">Back to login</a></center>